{% extends "base_employer.html" %}
{% block title%}Login Page{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <p >
            <label style="padding-left: 20px">Question 1</label>
            <label style="padding-left: 580px"> Answer 1</label>
        </p>
        <div class="col-md-5">
            <textarea id="textarea" rows="3" style="min-width: 100%"></textarea>
        </div>
        <div class="col-md-5 offset-md-2">
            <textarea id="textarea" rows="3" style="min-width: 100%"></textarea>
        </div>

    </div>

    <div class="row">
        <p >
            <label style="padding-left: 20px">Question 2</label>
            <label style="padding-left: 580px"> Answer 2</label>
        </p>
        <div class="col-md-5">
            <textarea id="textarea" rows="3" style="min-width: 100%"></textarea>
        </div>
        <div class="col-md-5 offset-md-2">
            <textarea id="textarea" rows="3" style="min-width: 100%"></textarea>
        </div>

    </div>

    <div class="row">
        <p >
            <label style="padding-left: 20px">Question 3</label>
            <label style="padding-left: 580px"> Answer 3</label>
        </p>
        <div class="col-md-5">
            <textarea id="textarea" rows="3" style="min-width: 100%"></textarea>
        </div>
        <div class="col-md-5 offset-md-2">
            <textarea id="textarea" rows="3" style="min-width: 100%"></textarea>
        </div>

    </div>

{% endblock %}
