{% extends "base_employer.html" %}
{% block title%}Login Page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6" style="padding-top: 50px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Java Developer</h5>
                    <p class="card-text"> Do operations from here.</p>
                    <div class="row">
                        <div class="col-sm-2 ">
                            <a href="#" class="btn btn-danger">Cancel</a>
                        </div>
                        <div class="col-sm-2 offset-sm-5">
                            <a href="#" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="btn btn-success">Candidates</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding-top: 50px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Analyst</h5>
                    <p class="card-text">Do operations from here.</p>
                    <div class="row">
                        <div class="col-sm-2 ">
                            <a href="#" class="btn btn-danger">Cancel</a>
                        </div>
                        <div class="col-sm-2 offset-sm-5">
                            <a href="#" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="btn btn-success">Candidates</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6" style="padding-top: 50px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Driver</h5>
                    <p class="card-text">Do operations from here.</p>
                    <div class="row">
                        <div class="col-sm-2 ">
                            <a href="#" class="btn btn-danger">Cancel</a>
                        </div>
                        <div class="col-sm-2 offset-sm-5">
                            <a href="#" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="btn btn-success">Candidates</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding-top: 50px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Accounter</h5>
                    <p class="card-text">Do operations from here.</p>
                    <div class="row">
                        <div class="col-sm-2 ">
                            <a href="#" class="btn btn-danger">Cancel</a>
                        </div>
                        <div class="col-sm-2 offset-sm-5">
                            <a href="#" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="btn btn-success">Candidates</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
